* {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}


.dashboard header {
    width: 100%;
    height: 120px;
    background-color: rgb(227, 227, 227);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    position: fixed;
    z-index: 2;
}

.dashboard header h1 {
    margin-top: auto;
    font-weight: bold;
    color: #404040;
    text-shadow: 3px rgba(0, 0, 0, 0.8);
    float: left;
    margin-top: 35px;
    /*margin-left: 295px;*/
    float: left;
}

#centerHeader {
}

#viewAccount {
    display: block;
    font-size: 35px;
    color: #404040;
    transition: .4s;
    margin-top: 35px;
}

#viewAccount:hover {
    color: #34AC90;
}

#removeMargin {
    width: 100%;
}

.Sheet{
    border: 3px solid #005C46;
    margin-bottom: 10px;
    padding: 25px;
    height: auto;
    width: 530px;
    float: left;
    margin-left: 25px;
    display: block;
    background-color: rgb(246,246,241);
}

.Email {
    font-size: 25px;
    font-weight: 200;
    text-align: left;
}

.Description{
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin-top: -20px;
}

.StartTime {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin-top: -20px;
}

.EndTime {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin-top: -20px;
}

.StartDate {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin-top: -20px;
}

.EndDate {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin-top: -20px;
}

.Unpaid {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin-top: -20px;
}

.Approved {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin-top: -20px;
}

.Id {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin-top: -20px;
}

#button {
    background-color: #005C46; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    transition: .4s;
}

#button:hover {
    background: rgb(20,29,29);
    color: #34AC90;
}

.timesheets, .submit {
    margin-top: 150px;
}